<a href="https://colab.research.google.com/github/racvbs/bikesharing/blob/main/NYC_CitiBike_Challenge_starter_code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from google.colab import files

In [3]:
# 1. Create a DataFrame for the 201908-citibike-tripdata data. 
file_df = pd.read_csv("/201908-citibike-tripdata.csv")
file_df.head()

   tripduration                 starttime  ... birth year  gender
0           393  2019-08-01 00:00:01.4680  ...     1996.0     2.0
1           627  2019-08-01 00:00:01.9290  ...     1998.0     2.0
2          1132  2019-08-01 00:00:04.0480  ...     1988.0     1.0
3          1780  2019-08-01 00:00:04.1630  ...     1988.0     1.0
4          1517  2019-08-01 00:00:05.4580  ...     1965.0     2.0

[5 rows x 15 columns]

In [5]:
# 2. Check the datatypes of your columns. 
file_df.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id           float64
start station name          object
start station latitude     float64
start station longitude    float64
end station id             float64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                     float64
usertype                    object
birth year                 float64
gender                     float64
dtype: object

In [7]:
# 3. Convert the 'tripduration' column to datetime datatype.
file_df['tripduration'] = pd.to_datetime(file_df["tripduration"], unit='s')
file_df.head()

         tripduration                 starttime  ... birth year  gender
0 1970-01-01 00:06:33  2019-08-01 00:00:01.4680  ...     1996.0     2.0
1 1970-01-01 00:10:27  2019-08-01 00:00:01.9290  ...     1998.0     2.0
2 1970-01-01 00:18:52  2019-08-01 00:00:04.0480  ...     1988.0     1.0
3 1970-01-01 00:29:40  2019-08-01 00:00:04.1630  ...     1988.0     1.0
4 1970-01-01 00:25:17  2019-08-01 00:00:05.4580  ...     1965.0     2.0

[5 rows x 15 columns]

In [8]:
# 4. Check the datatypes of your columns. 
file_df.dtypes

tripduration               datetime64[ns]
starttime                          object
stoptime                           object
start station id                  float64
start station name                 object
start station latitude            float64
start station longitude           float64
end station id                    float64
end station name                   object
end station latitude              float64
end station longitude             float64
bikeid                            float64
usertype                           object
birth year                        float64
gender                            float64
dtype: object

In [12]:
# 5. Export the Dataframe as a new CSV file without the index.
file_df.to_csv('201908_citibike_tripdata_v2.csv') 
files.download('201908_citibike_tripdata_v2.csv')